@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* LAYOUT (MAQUETADO) */
* {
    margin: 0px;
}

form {
    padding: 20px;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
}

.inputs {
    width: 100%;
    display: flex;
    align-items: center;
}

.inputs input {
    width: 50%;
}

input[type=email], input[type=password]  {
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
}


/* STYLES */

main {
    width: 500px;
    font-family: "Poppins", sans-serif;
}

form {
    background-color: #f9f7f7;
    box-shadow: 1px 1px 10px rgb(0 0 0 / 20%);
}

h1 {
    text-align: center;
    margin-bottom: 10px;
}

input {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 7px;
    border: 0px;
    background-color: #e7e6e6;
    border-radius: 5px;
}

input[type=button] {
    background-color: #a5a0a0;
    border: 0px;
    color: #fff;
    padding: 7px 15px 7px 15px;
    border-radius: 5px;
    font-size: 17px;
    margin-top: 15px;
}